---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import Subscribe from '../components/Subscribe.astro'; // <--- 1. Import Component
import BaseLayout from '../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const pages = await getCollection('pages');
    return pages.map((page) => {
        return {
            params: { id: page.id },
            props: { page }
        };
    });
}

type Props = { page: CollectionEntry<'pages'> };

const { page } = Astro.props;
const { title, seo, showSubscribe } = page.data;
const { Content } = await render(page);
---

<BaseLayout title={seo?.title ?? title} description={seo?.description} image={seo?.image} showHeader={false}>
    <article class="mb-16 sm:mb-24">
        <header class="mb-12 sm:mb-16">
            <h1 class="font-serif text-3xl font-light leading-tight sm:text-5xl sm:leading-tight text-main">
                {title}
            </h1>
        </header>
        <div class="prose sm:prose-lg max-w-none">
            <Content />
        </div>

        {
            showSubscribe && (
                <div class="mt-16 border-t border-neutral-200 dark:border-neutral-800 pt-12">
                    <Subscribe />
                </div>
            )
        }

    </article>
</BaseLayout>