---
import { Image } from 'astro:assets';
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../assets/icons/arrow-right.svg';

type Props = { track: CollectionEntry<'music'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { track, class: className, headingLevel = 'h2' } = Astro.props;
const { title, description, seo } = track.data;
const TitleTag = headingLevel;
---

<a class:list={['group flex items-start gap-4 sm:gap-6', className]} href={`/music/${track.id}/`}>
    {seo?.image?.src && (
        <div class="shrink-0 relative overflow-hidden rounded-md shadow-sm group-hover:shadow-lg w-20 h-20 sm:w-24 sm:h-24 aspect-square bg-muted/20 transition-all duration-500 ease-out">
            <Image
                src={seo.image.src}
                alt={seo.image.alt || title}
                width={200}
                height={200}
                class="h-full w-full object-cover transition-opacity duration-500 ease-out opacity-80 group-hover:opacity-100"
            />
        </div>
    )}
    <div class="grow min-w-0">
        <TitleTag
            class="font-serif text-xl leading-tight font-light group-hover:underline group-hover:decoration-1 group-hover:underline-offset-4 sm:text-2xl text-main/90"
        >
            {title}
        </TitleTag>
        {description && <div class="mt-1 text-sm leading-normal">{description}</div>}
    </div>
    <div class="hidden font-serif opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:shrink-0 sm:items-center sm:gap-1 text-main/90">
        View Release <ArrowRight class="h-4 w-4 fill-current" />
    </div>
</a>
